<div class="divider ">
  <h2 class="mb-3">Animais:</h2>
  <ul>
    <li *ngFor="let animal of animals">
      Nome: {{animal.name}} - Tipo: {{animal.type}}
      <button class="btn btn-primary p-1 my-1 mx-3 shadow-none" (click)="showAgeAnimal(animal)">Ver Idade</button>
      <button class="btn btn-primary p-1 my-1 mx-3 shadow-none" (click)="showTypeAnimal(animal)">Ver tipo</button>
      <button class="btn btn-secondary p-1 my-1 mx-3 shadow-none" (click)="removeAnimal(animal)">Remover animal</button>
    </li>
  </ul>
  <label><strong>{{animalDetailsAge}}</strong></label>

  <label><strong>{{animalDetailsType}}</strong></label>
</div>
