<div class="container mat-elevation-z8">
  <mat-toolbar color = "primary" class="mt-3 w-100">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hello World Angular!</span>
  <span class="w-100"></span>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-warning" type="submit"><i class="fa-light fa-magnifying-glass"></i>Search</button>
  </form>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
<nav class="d-flex">
  <a class="me-3" routerLink="/">Fist</a>
  <a class="me-3" routerLink="/parent-data">ParentData</a>
  <a class="me-3" routerLink="/directives">Directives</a>
  <a class="me-3" routerLink="/if-render">IfRender</a>
  <a class="me-3" routerLink="/eventos">Eventos</a>
  <a class="me-3" routerLink="/emitter">Emitter</a>
  <a class="me-3" routerLink="/list">ListRender</a>
  <a class="me-3" routerLink="/pipes-operators">PipesOperators</a>
  <a class="me-3" routerLink="/change-number">ChangeNumber</a>
  <a class="me-3" routerLink="/two-way-binding">TwoWayBinding</a>

  <a class="me-3" routerLink="/tests">Tests</a>
</nav>
     <h2>Testando h2</h2>
    <p>Alguma coisa</p>
    <div>
      <a href="#">Clique aqui!</a>
    </div>
   <!-- <app-parent-data [name]="userName" [data]="userData"></app-parent-data> -->

    <router-outlet></router-outlet>

    <!-- <div name="Testes diversos">
      <app-tests></app-tests>
    </div>  -->
    <div class="margen-b"></div>
</div>


