<div class="divider">
  <h2 class="titleH2">Meu primeiro comoponente!</h2>

  <table mat-table class="mat-elevation-z8 demo-table">
    <div>
      <th mat-header-cell> name </th>
      <td mat-cell> {{name}} </td>
    </div>

    <div>
      <th mat-header-cell> age </th>
      <td mat-cell> {{age}} </td>
    </div>

    <div>
      <th mat-header-cell> height </th>
      <td mat-cell> {{height}} </td>
    </div>

    <div>
      <th mat-header-cell> sex </th>
      <td mat-cell> {{sex}} </td>
    </div>

    <div>
      <th mat-header-cell> teaching </th>
      <td mat-cell> {{teaching}} </td>
    </div>

    <div>
      <th mat-header-cell> profession </th>
      <td mat-cell> {{profession}} </td>
    </div>
  </table>

  <div>
    <a href="#">Veja mais sobre o André</a>
  </div>

</div>
