<div class="divider">
  <h2 class="titleH2">Meu primeiro comoponente!</h2>

  <table mat-table class="demo-table">
    <div class="in-line">
      <th mat-header-cell> Nome: </th>
      <td mat-cell> {{name}} </td>
    </div>

    <div class="in-line">
      <th mat-header-cell> Idade: </th>
      <td mat-cell> {{age}} </td>
    </div>

    <div class="in-line">
      <th mat-header-cell> Altura: </th>
      <td mat-cell> {{height}}cm </td>
    </div>

    <div class="in-line">
      <th mat-header-cell> Sexo: </th>
      <td mat-cell> {{sex}} </td>
    </div>

    <div class="in-line">
      <th mat-header-cell> Escolaridade: </th>
      <td mat-cell> {{teaching}} </td>
    </div>

    <div class="in-line">
      <th mat-header-cell> Profissão: </th>
      <td mat-cell> {{profession}} </td>
    </div>
  </table>

  <div>
    <a href="#">Veja mais sobre o André</a>
  </div>

</div>
