/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
 a {
  color: rgb(231, 52, 20);
 }

 body {
  padding-bottom: 500px;
 }

 .divider {
  border-bottom: 1px solid violet;
  padding: 2em;
  margin: 1em;
 }

 h2 {
  text-decoration: underline;
  font-family:sans-serif
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
